
.Big {
  display: flex;
  flex-direction: row;
  padding: 40px;
}

#left, #right, #mid {
  width: 30%;
  padding: 10px;
}

.profile {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.Image {
  width: 50%;
  height: 50%;
  border-radius: 8px;
}

p {
  margin: 5px;
}

#name {
  font-size: 35px;
  font-weight: bolder;
  color: rgb(13, 127, 172);
}

.small {
  font-size: 10px;
  font-weight: bold;
  color:rgb(121, 118, 118);
}

.middle{
  font-weight: bold;
}